$doc-font-size: 16 !default;
$mq-tablet: 700;
$mq-hdscreen: 1280;

@mixin fullscreen() {
  &:-webkit-full-screen {
    @content;
  }

  &:-moz-full-screen {
    @content;
  }

  &:-ms-full-screen {
    @content;
  }

  &:-o-full-screen {
    @content;
  }

  &:full-screen {
    @content;
  }
}

@mixin mq($point, $query1: min, $query2: width) {
  @media screen and (#{$query1}-#{$query2}: $point / $doc-font-size +em) {
    @content;
  }
}

%fullWidthAndHeight {
  height: 100%;
  width: 100%;
}

%displayCenter {
  @extend %fullWidthAndHeight;
  text-align: center;
  &.show {
    display: table-row;
  }
  .show {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}

html, body {
  @extend %fullWidthAndHeight;
}

body {
  font-family: sans-serif;
  background: #fff;
}

html, body, ul, li, h1, p {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  font-size: 1.5em;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#quiz {
  @extend %fullWidthAndHeight;
  display: table;

  * {
    display: none;
  }

  br, p, div {
    display: block;
  }

  .show {
    //   display: block;
    background: fff;
  }

  #start {
    @extend %displayCenter;

    font-size: 4em;

    @include mq($mq-tablet) {
      font-size: 5em;
    }

    @include mq($mq-hdscreen) {
      font-size: 8em;
    }

    .show > * {
      display: block;
      line-height: 1.1;
    }

    h1 {
      font-size: 1em;
    }

    p {
      font-size: .3em;
      color: rgba(0, 0, 0, 0.4);

      * {
        display: inline;
      }
    }

  }

  #finish {
    @extend %displayCenter;
    div {
      background: #333;
      font-weight: bold;
      color: #ffffff;
      font-size: 5em;

      @include mq($mq-hdscreen) {
        font-size: 12em;
      }

    }

  }

  #competitors {
    @extend %displayCenter;
    li {
      font-size: 3em;

      @include mq($mq-tablet) {
        font-size: 5em;
      }

      @include mq($mq-hdscreen) {
        font-size: 10em;
      }
    }
  }

  #questions {
    @extend %displayCenter;

    li {
      padding: .5em;
      font-size: 1.5em;

      @include mq($mq-tablet) {
        padding: .2em 2em;
        font-size: 3em;
      }

      @include mq($mq-hdscreen) {
        font-size: 4.5em;
      }
    }
  }

  @include fullscreen() {
    height: 100%;
    width: 100%;
    background: #fff;
    position: relative;

  }
}